div(ng-include='"components/navbar/admin.html"')


.row
    .columns.large-10
        .page-name
            h3 Annonces
            
.row
    .columns.large-3
        input(type='text', ng-model='search', placeHolder='Entrez votre recherche')
                        
.row
    .columns.large-12
        table.responsive
            thead
                tr
                    th Auteur
                    th Date de lancement
                    th Date de Fin
                    th.right Actions
            tbody
                tr(ng-repeat='ad in ads | filter:search')
                    td {{ad.author.name}}
                    td {{ad.start | date:'dd/MM/yyyy'}}
                    td {{ad.end | date:'dd/MM/yyyy'}}
                    td.right
                        button.button.tiny.secondary.fa.fa-search(ui-sref='show({ad: ad._id, pos: ad.pos[0]})')
                        button.button.tiny.fa.fa-pencil(ng-click='update(ad)')
                        button.button.tiny.alert.fa.fa-trash(ng-click='confirm(ad)')

script(type='text/ng-template', id='modal.html')
    h2 Modifier une annonce
    a.close-reveal-modal(ng-click='$dismiss()') &#215;
    form(name='form', novalidate='')
        label Status
        select(ng-model='ad.status', ng-options='role._id as role.name for role in [{_id: "pending", name: "En attente de confirmation"}, {_id: "enabled", name: "Activée"}, {_id: "archived", name: "Archivée"}]', required='')
            
        label Categorie
        select(ng-model='ad.category', ng-options='category._id as category.name for category in categories', required='')
            
        button.button.right(ng-click='$close()') {{ category._id && 'Modifier' || 'Ajouter'}}
        button.button.secondary(ng-click='$dismiss()') Annuler

script(type='text/ng-template', id='confirm.html')
    h2 Confirmation
    a.close-reveal-modal(ng-click='$dismiss()') &#215;
    p Êtes vous certain de vouloir supprimer cette annonce ?
    button.button.alert.right(ng-click='$close()') Supprimer
    button.button.secondary(ng-click='$dismiss()') Annuler
