div(ng-include='"components/navbar/navbar.html"')

.wrapper.row-offcanvas.row-offcanvas-left
    aside.left-side.sidebar-offcanvas
        div(ng-include='"components/sidebar/sidebar.html"')
    aside.right-side
        section.content-header
            h1 Annonces
        section.content
            .row
                .col-xs-12
                    ng-table(model='ads', type='ad')

script(type='text/ng-template', id='modal.html')
    .modal-primary
        .modal-header
            button.close(type='button', ng-click='$dismiss()') &times;
            h4.modal-title {{ ad._id && 'Modifier une annonce' || 'Ajouter une nouvelle annonce'}}
        .modal-body
            form.form
                .input-form
                    label Auteur
                    p {{ad.author}}
                .input-form
                    label Catégorie
                    input.form-control(type='text', ng-model='ad.category')
                .input-form
                    label Montant
                    input.form-control(type='text', ng-model='ad.value')
                .input-form
                    label Date de fin
                    input.form-control(type='text', ng-model='ad.end')
                .input-form
                    label Status
                    select(ng-options='{en atte: "pending"}')
        .modal-footer
            button.btn.btn-primary(ng-click='$close()') {{ category._id && 'Modifier' || 'Ajouter'}}
            button.btn.btn-default(ng-click='$dismiss()') Annuler

script(type='text/ng-template', id='confirm.html')
    .modal-danger
        .modal-header
            button.close(type='button', ng-click='$dismiss()') &times;
            h4.modal-title Confirmation
        .modal-body
            p Êtes vous certain de vouloir supprimer cette annonce ?
        .modal-footer
            button.btn.btn-danger(ng-click='$close()') Supprimer
            button.btn.btn-default(ng-click='$dismiss()') Annuler
