div(ng-include='"components/navbar/admin.html"')


.row
    .columns.large-10
        .page-name
            h3 Annonces
            
.row
    .columns.large-3
        input(type='text', ng-model='search', placeHolder='Entrez votre recherche')
                        
.row
    .columns.large-12
        table.responsive
            thead
                tr
                    th Auteur
                    
                    th.right Actions
            tbody
                tr(ng-repeat='ad in ads | filter:search')
                    td {{ad.author.name}}
                    td.right
                        button.button.tiny.fa.fa-pencil(ng-click='update(ad)')
                        button.button.tiny.alert.fa.fa-trash(ng-click='confirm(ad)')

script(type='text/ng-template', id='modal.html')
    h2 Modifier une annonce
    a.close-reveal-modal(ng-click='$dismiss()') &#215;
    form(name='form', novalidate='')
        label Nom
        input(type='text', ng-model='category.name', required='')
            
        button.button.right(ng-click='$close()') {{ category._id && 'Modifier' || 'Ajouter'}}
        button.button.secondary(ng-click='$dismiss()') Annuler

script(type='text/ng-template', id='confirm.html')
    h2 Confirmation
    a.close-reveal-modal(ng-click='$dismiss()') &#215;
    p Êtes vous certain de vouloir supprimer
        strong  {{user.name}} ?
    button.button.alert.right(ng-click='$close()') Supprimer
    button.button.secondary(ng-click='$dismiss()') Annuler
