div(ng-include='"components/navbar/navbar.html"')

.container
    .row
        .col-md-10
            .input-group
                input.form-control(type='text', ng-model='search')
                span.input-group-addon
                    span.glyphicon.glyphicon-search
        .col-md-2
            span.btn.btn-primary.pull-right(ng-click='create()') Ajouter
    br
    .row
        .col-md-12
            a(ui-sref='') En attente
            .panel.panel-default
                .panel-heading Annonces
                table.table
                    tr
                        th
                    tr(ng-repeat='ad in ads | filter:search')
                        td {{ad.type}}
                            button.btn.btn-sm.btn-danger.glyphicon.glyphicon-trash.pull-right(ng-click='confirm(ad)')
                            button.btn.btn-sm.btn-primary.glyphicon.glyphicon-pencil.pull-right(ng-click='update(ad)')
