div(ng-include='"components/navbar/admin.html"')

.row
    .columns.large-10
        .page-name
            h3 {{post._id && 'Modifier' || 'Ajouter'}} un article
                    
.row
    form(name='form')
        .columns.large-8.medium-8.small-12
            label Titre
            input(ng-model='post.title', type='text', required='')
                
            label Article
            textarea(ng-model='post.content', required='', ckeditor='ckeOptions')
        .columns.large-4.medium-4.small-12
            .row
                .columns.large-12
                    .row
                        h5 Options
                    
                     
                    label.row.collapse Catégorie
                        .columns.small-10.medium-11
                            input(ng-model='post.tags', selectize='config', required='', options='tags')
                        .columns.small-2.medium-1
                            span.button.tiny.success(ng-click='addTag()')
                                i.fa.fa-plus

                    label État
                    select(ng-model='post.state', ng-options='state._id as state.name for state in [{_id: "draft", name: "Brouillon"}, {_id: "pending", name: "En attente"}, {_id: "published", name: "Publié"}]', required='')
                    
                    button.button.tiny.success.right(ng-click='save()') {{post._id && 'Modifier' || 'Ajouter'}}

script(type='text/ng-template', id='addTag.html')
    h2 Ajouter une catégorie
    a.close-reveal-modal(ng-click='$dismiss()') &#215;

    label(for='name') Nom
    input#name(ng-model='tag.name', type='text', required='')

    button.button.right(ng-click='$close()') {{ tag._id && 'Modifier' || 'Ajouter'}}
    button.button.secondary(ng-click='$dismiss()') Annuler
