div(ng-include='"components/navbar/admin.html"')

.row
    .columns.large-10
        .page-name
            h3 {{post._id && 'Modifier' || 'Ajouter'}} un article
                    
.row
    form(name='form')
        .columns.large-8.medium-8.small-12
            label Titre
            input(ng-model='post.title', type='text', required='')
                
            label Article
            textarea(ng-model='post.content', required='', ckeditor='ckeOptions')
        .columns.large-4.medium-4.small-12
            h5 Options
            
            label Catégorie
            input(ng-model='post.category', required='')
                
            button.button.tiny.success.right {{post._id && 'Modifier' || 'Ajouter'}}
