.modal-danger
    .modal-header
        button.close(type='button', ng-click='$dismiss()') &times;
        h4.modal-title Confirmation
    .modal-body
        p Êtes vous certain de vouloir supprimer
            strong {{name}}
            | ?
    .modal-footer
        button.btn.btn-danger(ng-click='$close()') Supprimer
        button.btn.btn-default(ng-click='$dismiss()') Annuler
