header.header
    nav.navbar.navbar-static-top
        a(href='#', class='navbar-btn sidebar-toggle' data-toggle='offcanvas' role='button')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar

.wrapper.row-offcanvas.row-offcanvas-left
    aside.left-side.sidebar-offcanvas
        section.sidebar
            ul.sidebar-menu
                li(ui-sref-active='active')
                    a(ui-sref='admin') Dashboard
                li(ui-sref-active='active')
                    a(ui-sref='userAdmin') Utilisateurs
                li(ui-sref-active='active')
                    a(ui-sref='adAdmin') Annonces
                li(ui-sref-active='active')
                    a(ui-sref='categoryAdmin') Categories
