div(ng-include='"components/navbar/navbar.html"')

.wrapper.row-offcanvas.row-offcanvas-left
    aside.left-side.sidebar-offcanvas
        div(ng-include='"components/sidebar/sidebar.html"')
    aside.right-side
        section.content-header
            h1 Dashboard
