div(ng-include='"components/navbar/navbar.html"')

.input-form
    label Objet
    input.form-control(type='text', ng-model='newsletter.object')
        
.input-form
    label Message
    textarea.form-control(ng-model='newsletter.message')
