.row
    .columns.small-12
        a(ui-sref='blog()')
            img.logo-login(src='assets/images/logo-login.png')
        .logbox
            a(href='#', ng-click='Modal.registration()') Inscription
            a(href='#', ng-click='Modal.login()') Connexion

.row
    .columns.small-12
        .middle
            form.pass-form(name='form', ng-submit='login(form)', novalidate='')
                input(type='text', name='pass', ng-model='user.pass', placeHolder='Entrez votre numéro de Pass', required='', style='margin-bottom:0;')
                button.button OK

                h2.white Emménagez dans un monde d'avantages...
                
