div(ng-include='"components/navbar/navbar.html"')

.form-box
    .header Se connecter
    form(name='form', ng-submit='login(form)', novalidate='')
        .body.bg-gray
            .form-group(ng-class='{"has-error": form.$submitted && form.email.$error}')
                label.control-label(ng-if='form.$submitted && form.email.$error', for='email')
                    i.fa.fa-times-circle-o
                    |  Pass incorrect
                input.form-control#pass(type='password', name='password', ng-model='user.password', placeHolder='Entrez votre numéro de Pass')
        .footer
            button.btn.bg-olive.btn-block(type='submit') Connexion
            a(ui-sref='signup()') Inscription
