div(ng-include='"components/navbar/navbar.html"')

form.row.collapse.pass-form(name='form', ng-submit='login(form)', novalidate='')
    .small-3.columns
        input.as(type='text', name='pass', ng-model='user.pass', placeHolder='Entrez votre numéro de Pass', required='')
    .small-1.columns
        button.button.postfix OK
    h2 Emménagez dans un monde d'avantages...
