footer
    .footer-menu
        h5 À propos
        ul
            li
                a Qui sommes nous ?
            li
                a Presse
            li
                a Jobs

    .footer-menu
        h5 Espace membre
        ul
            li
                a Inscription
            li
                a Connexion
            li
                a Aide

    .footer-menu
        h5 Espace Pro
        ul
            li
                a Devenir partenaire

    .footer-menu
        h5 Contact

    .footer-menu
        h5 Blog
