footer.row
    .columns.large-2.medium-3
        h5 À propos
        ul
            li
                a Qui sommes nous ?
            li
                a Presse
            li
                a Jobs
    .columns.large-2.medium-3
        h5 Espace membre
        ul
            li
                a Inscription
            li
                a Connexion
            li
                a Aide
    .columns.large-2.medium-3
        h5 Espace Pro
        ul
            li
                a Devenir partenaire
    .columns.large-2.medium-3
        h5 Contact
    
    .columns.large-2.medium-3
        h5 Blog
