div(ng-include='"components/navbar/navbar.html"')

.container
	.row
		.col-md-6
			#map
		.col-md-6
			form(enctype='multipart/form-data')
				.form-group
					label Adresse
					input.form-control#search(type='text', ng-model='ad.address')
				.form-group
					label Image
					input(type='file', nv-file-select='', uploader='uploader')
				button.btn.btn-primary(type='submit', ng-click='send()') Ajouter