div(ng-include='"components/navbar/navbar.html"')

.container
	.row
		.col-md-6
			h3 Ajouter une annonce
			form(enctype='multipart/form-data', name='form')
				.form-group
					label Point de vente
					input(type='text', ng-model='ad.pos', selectize='config', options='pos', required='', name='pos', ng-change='posSelected()')
					// .alert.alert-danger(ng-show='form.pos.$error.required') Vous devez choisir au moins 1 point de vente.
				.form-group
					label Image
					input(type='file', ng-file-select='onFileSelect($files)', accept='image/*')
				.form-group
					label Categorie
					select.form-control(ng-model='ad.category', ng-options='category._id as category.name for category in categories', required='')

				label Montant
				.form-group
					label.radio-inline
						input(type='radio', ng-model='ad.type', value='percent')
						| Pourcentage
					label.radio-inline
						input(type='radio', ng-model='ad.type', value='euro')
						| Euro
				.input-group(ng-if='ad.type == "percent"')
					input.form-control(type='number', ng-model='ad.value', max='100', min='1', required='')
					span.input-group-addon %
				.input-group(ng-if='ad.type == "euro"')
					input.form-control(type='number', ng-model='ad.value', min='1', required='', placeHolder='50')
					span.input-group-addon €

				.form-group
					label Annonce
					textarea.form-control(ng-model='ad.info', rows='5', required='')

				input.btn.btn-primary(ng-click='send(form)', type='submit', value="{{ ad._id && 'Modifier' || 'Ajouter'}}")
				span.btn.btn-danger.pull-right(ng-if='ad._id', ng-click='$modal.openModal($scope)') Supprimer
		.col-md-6
			br
			br
			br
			br
			#map

marker(ng-repeat='item in pos', map='map', click='markerSelected(item)', item='item', pos='[item.lat, item.lng]')
