div(ng-include='"components/navbar/navbar.html"')

.row.margin-top
    .columns.large-12
        h3
            i.fa.fa-angle-left.pointer(ui-sref='main()')
            |  {{pos.name}}
            img.icon.pointer.right(src='assets/images/print.png', ng-click='print()')
            img.icon.pointer.right(src='assets/images/heart.png', ng-click='like()')

.row
    .columns.large-4.medium-4
        .row
            .columns.large-12
                .show
                    ui-gmap-google-map(center='map.center', zoom='map.zoom', options='map.options', control='map.control', event='events.map')
                        ui-gmap-marker(idKey='pos._id', coords='pos', events='events', icon='pos.icon')
        .row
            .columns.large-12
                div
                    strong {{pos.name}}
                    |  - {{pos.address}}
                div(ng-show='pos.email')
                    strong Email : 
                    | {{pos.email}}
                div(ng-show='pos.phone')
                    strong Tel. : 
                    | {{pos.phone}}
                div(ng-show='pos.fax')
                    strong Fax : 
                    | {{pos.fax}}
                div(ng-show='pos.opening')
                    strong Ouverture : 
                    | {{pos.opening}}
                div(ng-show='pos.website')
                    strong Site web : 
                    | {{pos.website}}

    .columns.large-8.medium-8
        .ad
            .row
                .columns.small-5
                    img(ng-src='uploads/{{ad.image}}')
        
                .columns.small-7
                    p Du {{ad.start | date:'d/mm'}} au {{ad.end | date:'dd/mm yyyy'}}
                        span.right {{ad.num}}
                    h3
                        strong {{pos.name}}
                    h2
                        strong -{{ad.value}}{{ad.valueType === 'euro' ? '€' : '%'}}
                    p {{ad.info}}
                    .my-pass
                        img(src='assets/images/logo-login.png')
                        span {{currentUser.pass}}
                    span.right.pass {{currentUser.name}}
        .row
            .columns.large-12
                h5 Présentation
                p {{pos.info}}
.row
    .columns.large-12
        h4 Toutes les offres de la même enseigne
        hr.no-margin-top
        ul.small-block-grid-3.medium-block-grid-4.large-block-grid-5
            li(ng-repeat='item in ads')
                a(ui-sref='show({ad: item._id, pos: pos._id})')
                    figure
                        img(ng-if='item.image', ng-src='uploads/{{item.image}}')
                        img(ng-if='!item.image', ng-src='http://placehold.it/200x200')
                        figcaption
                            .floater
                            .child
                                h5 {{pos.name}}
                                p -{{item.value}}{{item.valueType === 'euro' ? '€' : '%'}}

                                em.exclu Offre exclusive The Home Pass
