$navbarHeight: 90px;
$navbarMargin: 35px;

html {
    height: 100%;
    width: 100%;
}

nav {
    height: $navbarHeight;
    margin: $navbarMargin;
    padding-left: 15px;
    padding-right: 15px;
}

.logo {
    height: 90px;
    width: 90px;
    background: url('/assets/images/logo.png') no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: inline-block;
}

.bg {
    margin:0;
    padding:0;
    height: 100%;
    width: 100%;
    background: url('/assets/images/bg.jpg') no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.logbox {
    float: right;
    height: 30px;
    line-height: 90px;
    vertical-align: middle;
    color: black;
}

.logbox > img {
    height: 30px;
    width: 30px;
    vertical-align: middle;
    margin-right: 5px;
}

.logbox > span {
    vertical-align: middle;
}

nav > div > a {
    color: black;
}

.pass-form {
    color: white;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    min-margin-top: 150px;
}

.pass-form > div > h2 {
    margin-left: 10px;
    color: white;
    font-size: 25px;
}

.pass-form > div > input {
    background-color: black !important;
    border: solid 1px;
    border-right: solid 1px white;
    transition: all 0.3s linear 0;
    box-shadow: 0 0 5px black;
}

.pass-form > div > input:focus {
    background-color: white !important;
}

.pass-form > div > button {
    background-color: black;
    color: white;
    box-shadow: 0 0 5px black;
}

button {
    background-color: black;
    color: white;
    box-shadow: 0 0 5px black;
}

.pass-form > div > button:focus {
    outline: 0;
}


.reveal-modal:focus {
    outline: 0;
}

#profile {
    position: absolute;
    top: 40px;
    right: 55px;
}

.row {
    padding: 35px;
    max-width: 100%;
}
