$navbarHeight: 90px;
$navbarMargin: 35px;

html {
    height: 100%;
    width: 100%;
}

input:not([type]) {
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
    background-color: #fff;
    font-family: inherit;
    border-style: solid;
    border-width: 1px;
    border-color: #ccc;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    color: rgba(0, 0, 0, 0.75) !important;
    display: block;
    font-size: 0.875rem;
    margin: 0 0 1rem 0;
    padding: 0.5rem;
    height: 2.3125rem;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    transition: box-shadow 0.45s,border-color 0.45s ease-in-out;
}

input:focus {
    outline: none;
}

select:focus {
    outline: none;
}

button:focus {
    outline: none;
}

.reveal-modal:focus {
    outline: none;
}


nav {
    height: $navbarHeight;
    margin: $navbarMargin;
    padding-left: 15px;
    padding-right: 15px;
}

.logo {
    height: 90px;
    width: 90px;
    background: url('/assets/images/logo.png') no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: inline-block;
}

.logbox {
    float: right;
    height: 30px;
    line-height: 90px;
    vertical-align: middle;
    color: black;
}

.logbox > img {
    height: 30px;
    width: 30px;
    vertical-align: middle;
    margin-right: 5px;
}

.logbox > span {
    vertical-align: middle;
}

nav > div > a {
    color: black;
}

.pass-form {
    color: white;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    min-margin-top: 150px;
}

.pass-form > div > h2 {
    margin-left: 10px;
    color: white;
    font-size: 25px;
}

.pass-form > div > input {
    background-color: black !important;
    border: solid 1px black;
    border-right: solid 1px white;
    transition: all 0.3s linear 0;
    box-shadow: 0 0 5px black;
    color: white !important;
}

.pass-form > div > input:focus {
    background-color: white !important;
    color: rgba(0, 0, 0, 0.74902) !important;
    border: none;
}

.pass-form > div > button {
    background-color: black;
    color: white;
    box-shadow: 0 0 3px black;
}

.black {
    background-color: black;
    color: white !important;
    box-shadow: 0 0 3px black;
}

button.alert {
    box-shadow: none;
}

#profile {
    margin-top: 35px;
    margin-left: -40px;
}

.container {
    margin: 35px;
}

.row {
    max-width: 100%;
}

@media only screen and (min-width: 1025px) {
    .gm {
        position: absolute;
        height: calc(100% - 190px) !important;
        padding-right: 45px;
    }

    .gm > .angular-google-map > .angular-google-map,
    .gm > .angular-google-map > .angular-google-map > .angular-google-map-container {
        height: 100% !important;
    }
}

.angular-google-map-container {
    height: 400px !important;
}

.angular-google-map img {
    max-width: none !important;
}

.postfix.addon {
    background-color: black !important;
    color: white !important;
}

.bg {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background: url('/assets/images/bg.jpg') no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.selectize-input {
    height: 2.3125rem;
    line-height: 25px;
}

.selectize-dropdown {
    margin-top: 0px;
}

.offer img {
    width: 100% !important;
    height: 235px !important;
    transition: all 0.3s linear 0;
}

.offer:hover img {
    background-color: black !important;
}

.offer span {
    width: 100% !important;
    height: 235px !important;
    margin-top: 235px;
    transition: all 0.3s linear 0;
}

.offer:hover span {

}

.effects {
  padding-left: 15px;
}
.effects .img {
  position: relative;
  float: left;
  margin-bottom: 5px;
  width: 25%;
  overflow: hidden;
}
.effects .img:nth-child(n) {
  margin-right: 5px;
}
.effects .img:first-child {
  margin-left: -15px;
}
.effects .img:last-child {
  margin-right: 0;
}
.effects .img img {
  display: block;
  margin: 0;
  padding: 0;
  max-width: 100%;
  height: auto;
}

.overlay {
  display: block;
  position: absolute;
  z-index: 20;
  background: rgba(0, 0, 0, 0.8);
  overflow: hidden;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

a.close-overlay {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
  width: 45px;
  height: 45px;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  line-height: 45px;
  text-align: center;
  background-color: #000;
  cursor: pointer;
}
a.close-overlay.hidden {
  display: none;
}

a.expand {
  display: block;
  position: absolute;
  z-index: 100;
  width: 60px;
  height: 60px;
  text-align: center;
  color: #fff;
  line-height: 50px;
  font-weight: 700;
  font-size: 24px;
}

.overlay {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
}

.overlay a.expand {
  left: 0;
  right: 0;
  top: 0;
  margin: 0 auto;
  opacity: 0;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.img:hover .overlay {
  opacity: 1;
}

.img:hover .overlay a.expand {
  top: 50%;
  margin-top: -30px;
  opacity: 1;
}


@-webkit-keyframes bgscroll {
    from {background-position:0 0;}
    to {background-position:0 -520px;}
}

.postfix.addon {
    float: left;
    width: 40px;
}
