nav.top-bar(data-topbar='', role='navigation', ng-controller='NavbarAdminCtrl')
    ul.title-area
        li.name
            h1
                a(ui-sref='admin') Administration
        li.toggle-topbar.menu-icon
            a(href='#')
                span Menu
                
    section.top-bar-section
        ul
            li(ui-sref-active='active')
                a(ui-sref='admin()')
                    i.fa.fa-dashboard
                    |  Dashboard
            
            li.has-dropdown(ui-sref-active='active')
                a(ui-sref='blogAdmin()')
                    i.fa.fa-newspaper-o
                    |  Blog
                ul.dropdown
                    li(ui-sref-active='active')
                        a(ui-sref='blogAdmin()') Articles
                    li(ui-sref-active='active')
                        a(ui-sref='tagAdmin()') Catégories
                    li(ui-sref-active='active')
                        a(ui-sref='commentAdmin()') Commentaires
                        
            li(ui-sref-active='active')
                a(ui-sref='userAdmin()')
                    i.fa.fa-users
                    |  Utilisateurs
                                
            li.has-dropdown(ui-sref-active='active')
                a(ui-sref='adAdmin({state: "pending"})')
                    i.fa.fa-map-marker
                    |  Annonces  
                    span.label.round {{pending}}
                ul.dropdown
                    li(ui-sref-active='active')
                        a(ui-sref='adAdmin({state: "pending"})') En attente 
                            | 
                            span.label.round {{pending}}
                    li(ui-sref-active='active')
                        a(ui-sref='adAdmin({state: "enabled"})') Activées
                    li(ui-sref-active='active')
                        a(ui-sref='adAdmin({state: "archived"})') Archives
            
            li(ui-sref-active='active')
                a(ui-sref='categoryAdmin()')
                    i.fa.fa-paperclip
                    |  Catégories

        ul.right
            li
                a(href='#', ng-click='logout()') Se déconnecter
