nav(ng-controller='NavbarCtrl')
    a.logo(ui-sref='main')
    .logbox(ng-if='!Auth.isLoggedIn()')
        a(dropdown-toggle='#profile') Connexion
            | 
            i.fa.fa-angle-down
    a.logbox(ng-if='Auth.isLoggedIn()')
        img(ng-src='assets/images/user.png')
        span  {{ Auth.getCurrentUser().name }}
            i.fa.fa-angle-down
                
ul#profile.f-dropdown
    li
        a(href='') test

script(type='text/ng-template' id='loginModal.html')
    h2 Connexion
    form(name='form', ng-submit='login(form)', novalidate='')
        .form-group
            label Adresse Email
            input.form-control(type='email', ng-model='user.email', required='')
        .form-group
            label Mot de passe
            input.form-control(type='password', ng-model='user.password', required='')
        a.btn.btn-default.btn-flat(href='' ng-click='login(form)') Se connecter
    
header.header(ng-if='Auth.hasRole("admin")')
    nav.navbar.navbar-static-top
        ul.nav.navbar-nav
            li(ui-sref-active='active')
                a(ui-sref='main') The Home Pass
        a.navbar-btn.sidebar-toggle(href='' data-toggle='offcanvas' role='button')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
        ul.nav.navbar-nav(ng-if='Auth.hasRole("admin")')
            li(ui-sref-active='active')
                a(ui-sref='admin') Administration
        ul.nav.navbar-nav(ng-if='Auth.hasRole("advertiser")')
            li(ui-sref-active='active')
                a(ui-sref='ad') Mes annonces
            li(ui-sref-active='active')
                a(ui-sref='pos') Mes points de vente
        .navbar-right(ng-if='Auth.isLoggedIn()')
            ul.nav.navbar-nav
                li.dropdown.user.user-menu
                    a.dropdown-toggle(href='#', data-toggle='dropdown')
                        i.glyphicon.glyphicon-user
                        span  {{ Auth.getCurrentUser().name }}
                            i.caret
                    ul.dropdown-menu(ng-click="$event.stopPropagation()")
                        li.user-footer
                            .pull-right
                                a.btn.btn-default.btn-flat(href='', ng-click='logout()') Se déconnecter
        .navbar-right(ng-if='!Auth.isLoggedIn()')
            ul.nav.navbar-nav
                li.dropdown.user.user-menu
                    a.dropdown-toggle(href='#', data-toggle='dropdown')
                        span  Déjà inscrit ?
                            i.caret
                    ul.dropdown-menu(ng-click="$event.stopPropagation()")
                        li.user-body
                            
                        li.user-footer
                            .pull-right
                                
