header
    a(ui-sref='main')
        img.logo-75(ng-src='assets/images/logo.png')
    .profile(ng-click='dropdown = true')
        img(ng-src='assets/images/user.png')
        |  Valentin
        ul
            li
                a(href='#', ng-click='logout()')
                    i.fa.fa-sign-out
                    |  Déconnexion

header.header(ng-controller='NavbarCtrl', ng-if='Auth.hasRole("admin")')
    nav.navbar.navbar-static-top
        ul.nav.navbar-nav
            li(ui-sref-active='active')
                a(ui-sref='main') The Home Pass
        a.navbar-btn.sidebar-toggle(href='' data-toggle='offcanvas' role='button')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
        ul.nav.navbar-nav(ng-if='Auth.hasRole("admin")')
            li(ui-sref-active='active')
                a(ui-sref='admin') Administration
        ul.nav.navbar-nav(ng-if='Auth.hasRole("advertiser")')
            li(ui-sref-active='active')
                a(ui-sref='ad') Mes annonces
            li(ui-sref-active='active')
                a(ui-sref='pos') Mes points de vente
        .navbar-right(ng-if='Auth.isLoggedIn()')
            ul.nav.navbar-nav
                li.dropdown.user.user-menu
                    a.dropdown-toggle(href='#', data-toggle='dropdown')
                        i.glyphicon.glyphicon-user
                        span  {{ Auth.getCurrentUser().name }}
                            i.caret
                    ul.dropdown-menu(ng-click="$event.stopPropagation()")
                        li.user-footer
                            .pull-right
                                a.btn.btn-default.btn-flat(href='', ng-click='logout()') Se déconnecter
        .navbar-right(ng-if='!Auth.isLoggedIn()')
            ul.nav.navbar-nav
                li.dropdown.user.user-menu
                    a.dropdown-toggle(href='#', data-toggle='dropdown')
                        span  Déjà inscrit ?
                            i.caret
                    ul.dropdown-menu(ng-click="$event.stopPropagation()")
                        li.user-body
                            form(name='form', ng-submit='login(form)', novalidate='')
                                .form-group
                                    label Adresse Email
                                    input.form-control(type='email', ng-model='user.email', required='')
                                .form-group
                                    label Mot de passe
                                    input.form-control(type='password', ng-model='user.password', required='')
                        li.user-footer
                            .pull-right
                                a.btn.btn-default.btn-flat(href='' ng-click='login(form)') Se connecter
