nav.row(ng-controller='NavbarCtrl')
    .columns.small-12
        a.logo(ui-sref='main')
        .logbox(ng-if='!Auth.isLoggedIn()')
            a(href='', ng-click='registerModal()') Inscription
            a(href='', ng-click='loginModal()') Connexion
        a.logbox(ng-if='Auth.isLoggedIn()', dropdown-toggle='#profile')
            img(ng-src='assets/images/user.png')
            span  {{ Auth.getCurrentUser().name }}
                |  
                i.fa.fa-angle-down
            ul#profile.f-dropdown(ng-if='Auth.hasRole("user")')
                li
                    a(href='#') Mes favoris
                li
                    a(href='#') Mon compte
                li
                    a(href='#', ng-click='logout()') Se déconnecter
            ul#profile.f-dropdown(ng-if='Auth.hasRole("advertiser")')
                li
                    a(href='#') Mon compte
                li
                    a(ui-sref='ad') Mes annonces
                li
                    a(ui-sref='pos') Mes points de vente
                li
                    a(href='#', ng-click='logout()') Se déconnecter
            ul#profile.f-dropdown(ng-if='Auth.hasRole("admin")')
                li
                    a(href='#') Mon compte
                li
                    a(href='#', ng-click='logout()') Se déconnecter


script(type='text/ng-template' id='loginModal.html')
    h2 Connexion
    form(name='form', novalidate='')
        label Adresse Email
        input(type='email', ng-model='user.email', required='')
        label Mot de passe
        input(type='password', ng-model='user.password', required='')
        button.black.expand(href='' ng-click='login(form)') Se connecter
    a.close-reveal-modal(ng-click='$dismiss()') &#215;

script(type='text/ng-template' id='registerModal.html')
    h2 Inscription
    form(name='form', novalidate='')
        label Adresse Email
        input(type='email', ng-model='user.email', required='')
        label Mot de passe
        input(type='password', ng-model='user.password', required='')
        label Retapez votre mot de passe
        
        input(type='password', ng-model='user.retype', required='')
        label Votre adresse
        #from
        .modal-map
            ui-gmap-google-map(center='map.center', zoom='map.zoom', events='events.map', refresh='true', style='z-index: -1000;')
                ui-gmap-search-box(template='"search-box-from.html"', parentdiv='"from"', events='events.from')
                ui-gmap-marker(idKey='"from"', coords='user.from')
        
        button.black.expand(href='' ng-click='register(form)') S'inscrire
    a.close-reveal-modal(ng-click='$dismiss()') &#215;

script(type='text/ng-template', id='search-box-from.html')
    input(type='text', required='', placeHolder='Entrez votre recherche', ng-value='user.from.address')
