nav.row(ng-controller='NavbarCtrl')
    .columns.small-12
        a.logo(ui-sref='blog()')

        button.button.localise
            p Voir les offres à Amiens
            i.fa.fa-refresh

        .menu-log(ng-if='!Auth.isLoggedIn()')
            a(href='#', ng-click='registration()') Inscription
            a(href='#', ui-sref='login()') Connexion

        .menu(ng-if='Auth.isLoggedIn() && Auth.getCurrentUser().role === "user"')
            a(ui-sref='blog')
                img(src='assets/images/comment.png')
                
                span Le mag
            a(href='#')
                img(src='assets/images/calendar.png')
                span.label {{expire}}
                span Solde jours
            a(ui-sref='like()')
                img(src='assets/images/likes.png')
                span.label {{numLikes}}
                span Mes favoris
            a(href='#', dropdown-toggle='#profile')
                img(src='assets/images/user.png')
                span {{Auth.getCurrentUser().name}}
                    |  
                    i.fa.fa-angle-down
                ul#profile.f-dropdown
                    li
                        a(href='#', ng-click='logout()') Se déconnecter
        
        .menu(ng-if='Auth.isLoggedIn() && Auth.getCurrentUser().role === "admin"')
            a(ui-sref='admin()')
                i.fa.fa-dashboard
                span Dashboard
            a(href='#', dropdown-toggle='#profile')
                img(src='assets/images/user.png')
                span {{Auth.getCurrentUser().name}}
                    |  
                    i.fa.fa-angle-down
                ul#profile.f-dropdown
                    li
                        a(href='#', ng-click='logout()') Se déconnecter
