header.header(ng-controller='NavbarCtrl')
    nav.navbar.navbar-static-top
        ul.nav.navbar-nav
            li(ui-sref-active='active')
                a(ui-sref='main') The Home Pass
        a.navbar-btn.sidebar-toggle(href='#' data-toggle='offcanvas' role='button')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
        ul.nav.navbar-nav
            li(ui-sref-active='active')
                a(ui-sref='admin') Administration
            li(ui-sref-active='active')
                a(ui-sref='ad') Mes annonces
            li(ui-sref-active='active')
                a(ui-sref='pos') Mes points de vente
        .navbar-right
            ul.nav.navbar-nav
                li.dropdown.user.user-menu
                    a.dropdown-toggle(href='#', data-toggle='dropdown')
                        i.glyphicon.glyphicon-user
                        span  {{ Auth.getCurrentUser().name }}
                            i.caret
                    ul.dropdown-menu
                        li.user-footer
                            .pull-right
                                a.btn.btn-default.btn-flat(href='#' ng-click='logout()') Se déconnecter
