div(ng-include='"components/navbar/navbar.html"')

.container
    .row
        .col-lg-12
            #map

.container
    .row
        .col-lg-12
            h1.page-header Annonces:
            .row(ng-repeat='ad in ads')
                h3 {{ad.name}}
                p {{ad.info}}

marker(ng-repeat='item in pos', map='map', type='openstreetmap', pos='[item.lat, item.lng]', click='clickMarker(item)', item='item')
