div(ng-include='"components/navbar/navbar.html"')

.container-fluid
    .row
        .col-md-6
            br
            br
            br
            ui-gmap-google-map(center='map.center', zoom='map.zoom')
                ui-gmap-markers(models='pos', idKey='"_id"', coords='"self"', events='events')
        .col-md-6
            br
            br
            br
            h4.page-header Actuellement {{ads.length}} offres exclusives:
            .input-group.form-inline
                input.form-control.input-sm(type='text', ng-model='search')
                span.input-group-btn
                    button.btn.btn-sm.btn-default
                        i.fa.fa-search
                select.form-control.input-sm(ng-model='category', ng-options='category._id as category.name for category in categories')
                    option(value='') Tous les univers
            .row(ng-repeat='ad in ads | filter:search | filter:category')
                h3 {{ad.name}}
                em {{ad.address}}
                p {{ad.info}}
