div(ng-include='"components/navbar/navbar.html"')

.container
    .row
        .col-lg-12
            #map

.container
    .row
        .col-lg-12
            h1.page-header Annonces:
            ul
                li(ng-repeat='ad in ads') {{ad.icon}} {{ad.type}}

marker(ng-repeat='item in pos', map='map', type='openstreetmap', pos='[item.lat, item.lng]', click='clickMarker(item)')
