div(ng-include='"components/navbar/navbar.html"')

.row.margin-top
    .columns.medium-5.large-5.show-for-medium-up
        button.button.black.expand.test
            p Voir les offres où j'emménage
            i.fa.fa-refresh
        .gm
            ui-gmap-google-map(center='map.center', zoom='map.zoom', options='map.options', control='map.control', event='events.map')
                ui-gmap-markers(models='pos', idKey='"_id"', coords='"self"', events='events', options='"options"', icon='"icon"')
                    ui-gmap-windows(show='"show"')
                        .window(ng-non-bindable='')
                            img(src='http://placehold.it/200x200')
                            h4 {{name}}
                            p {{address}}

    .columns.small-12.medium-7.large-7.full
        .row
            .columns.large-12
                h5 Actuellement
                    strong.number {{items.length}}
                    |  offres exclusives à proximité de  
                    span(ng-if='currentUser.city') {{currentUser.city}}
                    span(ng-if='!currentUser.city') ma position

        .row.collapse.filters
            .columns.large-3.medium-6
                select(ng-model='category', ng-change='addCategory(category)', ng-options='category.name for category in categories')
                    option(value='') Filtrer par univers
            .columns.large-4.medium-6
                select(ng-model='type')
                    option(value='') Filtrer par types d'offres
                    option(value='1') Promotion
                    option(value='2') Avant première
                    option(value='3') Vente privée
                    option(value='4') Destockage
                    option(value='5') Actualité
            .columns.large-5.medium-12.small-12
                input(type='text', ng-model='search', placeHolder='Entrez votre recherche')
                span.addon
                    i.fa.fa-search
        .row
            .columns.large-12
                span.filter(ng-repeat='tag in tags', ng-click='removeTag(tag)') {{tag.name}}  
                    i.fa.fa-times

        ul.ads.small-block-grid-1.medium-block-grid-2.large-block-grid-3.xlarge-block-grid-4(infinite-scroll='scroll()', infinite-scroll-parent='false', infinite-scroll-distance='20', infinite-scroll-immediate-check='true')
            li(ng-repeat='ad in items | filter:search | filter:type:type')
                a(ui-sref='show({ad: ad._id, pos: ad.currentPos._id})')
                    figure
                        img(ng-if='ad.image', ng-src='uploads/{{ad.image}}')
                        img(ng-if='!ad.image', ng-src='http://placehold.it/200x200')
                        figcaption
                            .floater
                            .child
                                h5 {{ad.currentPos.name}}
                                p -{{ad.value}}{{ad.valueType === 'euro' ? '€' : '%'}}
                                em.exclu Offre exclusive The Home Pass

script(type='text/ng-template' id='window.html')
    img(ng-src='http://placehold.it/200x200}')
    h4 {{name}}

div(ng-include='"components/footer/footer.html"')
