div(ng-include='"components/navbar/navbar.html"')

.container
	.row
		.columns.medium-12.large-5.show-for-medium-up.gm
			ui-gmap-google-map(center='map.center', zoom='map.zoom')
				ui-gmap-markers(models='pos', idKey='"_id"', coords='"self"', events='events', icon='"icon"')
				ui-gmap-circle(ng-repeat='item in circles', center='item', radius='ad.area * 1000', stroke='circle.stroke', fill='circle.fill')

		.columns.small-12.medium-12.large-7
			.row
				.columns.small-12
					h3 Ajouter une annonce
					form(enctype='multipart/form-data', name='form')
						label Points de vente
						input(type='text', ng-model='ad.pos', selectize='config', options='pos', required='', name='pos', ng-change='posSelected()')

				
						label Distance
						.row.collapse
							.columns.small-11
								input(type='number', ng-model='ad.area', required='')
							.columns.small-1
								span.postfix.addon km

						label Image
						input(type='file', ng-file-select='onFileSelect($files)', accept='image/*')

						label Categorie
						select(ng-model='ad.category', ng-options='category._id as category.name for category in categories', required='')

						label Type d'offre
						input#1(name='type', type='radio', ng-modal='ad.type', value='0')
						label(for='1') Offre de remboursement
						input#2(name='type', type='radio', ng-modal='ad.type', value='1')
						label(for='2') Remise immédiate
						input#3(name='type', type='radio', ng-modal='ad.type', value='2')
						label(for='3') Vente privée

						.row
							.columns.small-12
								input#type1(type='radio', ng-model='ad.valueType', value='percent')
								label(for='type1') Pourcentage
								input#type2(type='radio', ng-model='ad.valueType', value='euro')
								label(for='type2') Euro

						label.row.collapse Réduction
							.columns.small-11
								input(type='number', ng-model='ad.area', required='')
							.columns.small-1
								span.postfix.addon(ng-if='ad.type == "percent"') %
								span.postfix.addon(ng-if='ad.type == "euro"') €

						label.row.collapse Date de lancement
							.columns.small-11
								input(type='date', ng-model='ad.start', required='')
							.columns.small-1
								i.postfix.addon.fa.fa-calendar
						
						label.row.collapse Date de fin
							.columns.small-11
								input(type='date', ng-model='ad.end', required='')
							.columns.small-1
								i.postfix.addon.fa.fa-calendar

						label Offre exclusive Home Pass : 
							input(type='checkbox', ng-model='ad.exclu')
						
						.form-group
							label Annonce
							textarea.form-control(ng-model='ad.info', rows='5', required='')

						button.black(ng-click='send(form)') {{ ad._id && 'Modifier' || 'Ajouter'}}
						button.black(ng-if='ad._id', ng-click='$modal.openModal($scope)') Supprimer
