div(ng-include='"components/navbar/navbar.html"')

.container
	.row
		.columns.medium-12.large-5.show-for-medium-up.gm
			ui-gmap-google-map(center='map.center', zoom='map.zoom')
				ui-gmap-markers(models='pos', idKey='"_id"', coords='"self"', events='events', icon='"icon"')
				ui-gmap-circle(ng-repeat='item in circles', center='item', radius='ad.area * 1000', stroke='circle.stroke', fill='circle.fill')

		.columns.small-12.medium-12.large-7
			h3 Ajouter une annonce
			form(enctype='multipart/form-data', name='form')

					label Points de vente
					input(type='text', ng-model='ad.pos', selectize='config', options='pos', required='', name='pos', ng-change='posSelected()')

					label Distance
						input(type='number', ng-model='ad.area', required='')
						span km

					label Image
					input(type='file', ng-file-select='onFileSelect($files)', accept='image/*')

					label Categorie
					select(ng-model='ad.category', ng-options='category._id as category.name for category in categories', required='')

				label Montant
					label.radio-inline
						input(type='radio', ng-model='ad.type', value='percent')
						| Pourcentage
					label.radio-inline
						input(type='radio', ng-model='ad.type', value='euro')
						| Euro
					.input-group(ng-if='ad.type == "percent"')
						input.form-control(type='number', ng-model='ad.value', max='100', min='1', required='')
						span.input-group-addon %
					.input-group(ng-if='ad.type == "euro"')
						input.form-control(type='number', ng-model='ad.value', min='1', required='', placeHolder='50')
						span.input-group-addon €

				.form-group
					label Date de fin
					.input-group
						span.input-group-addon
							i.fa.fa-calendar
						input.form-control(type='date', ng-model='ad.end', required='')

				.form-group
					label Annonce
					textarea.form-control(ng-model='ad.info', rows='5', required='')

				button.btn.btn-primary(ng-click='send(form)', type='submit', value="{{ ad._id && 'Modifier' || 'Ajouter'}}")
				span.btn.btn-danger.pull-right(ng-if='ad._id', ng-click='$modal.openModal($scope)') Supprimer
