div(ng-include='"components/navbar/navbar.html"')

.container
	.row
		.col-md-6
			h3 Ajouter un point de vente
			form(enctype='multipart/form-data', name='form')
				.form-group
					label Nom
					input.form-control(type='text', ng-model='selected.name', required='')

				.form-group
					label Adresse
					#search
				.form-group
					label Image
					input(type='file', ng-file-select='onFileSelect($files)', accept='image/*')
				.form-group
					label Informations
					textarea.form-control(ng-model='selected.info', rows='5', required='')
				.form-group
					label Téléphone
					input.form-control(type='number', ng-model='pos.phone')		
				.form-group
					label Email
					input.form-control(type='email', ng-model='pos.email')
				.form-group
					label Ouverture
					input.form-control(type='text', ng-model='pos.opening')

				input.btn.btn-primary(ng-click='send(form)', type='submit', value="{{ selected._id && 'Modifier' || 'Ajouter'}}")
				span.btn.btn-danger.pull-right(ng-if='selected._id', ng-click='confirmation(selected.name)') Supprimer
		.col-md-6
			br
			br
			br
			br
			ui-gmap-google-map(center='map.center', zoom='map.zoom', events='events.map')
				ui-gmap-search-box(template='"search-box.html"', parentdiv='"search"', events='events.search')
				ui-gmap-markers(models='pos', idKey='"_id"', coords='"self"', events='events.markers')
				ui-gmap-marker(idKey='1', coords='selected', icon='"http://maps.google.com/mapfiles/ms/icons/green-dot.png"')

script(type='text/ng-template', id='search-box.html')
	input.form-control#address(type='text', required='', placeHolder='Entrez votre recherche')
