.box
    .box-header
        h3.box-title Liste des catégorie
        .box-tools
            .col-xs-4.pull-right
                .input-group
                    input.form-control.input-sm.pull-right(type='text', ng-model='search', placeHolder='Recherche')
                    .input-group-btn
                        button.btn.btn-sm.btn-default
                            i.fa.fa-search
    .box-body.table-responsible.no-padding
        table.table.table-hover
            thead
                tr
                    th(ng-repeat='col in cols') {{col.name}}
            tbody
                tr(ng-repeat='item in items | filter:search | orderBy:order')
                    td {{item.name}}
                    td
                        button.btn.btn-sm.btn-danger.pull-right.btn-flat(ng-click='confirm(item)')
                            i.fa.fa-trash
                        button.btn.btn-sm.btn-primary.pull-right.btn-flat(ng-click='update(item)')
                            i.fa.fa-pencil
    .box-footer.clearfix
        .row
            .col-xs-6
                span.tab-info Affichage {{currentStart}} à {{currentEnd}} sur {{model.length}}
            .col-xs-6
                pagination.pagination.pagination-sm.pull-right.no-margin(total-items='model.length', ng-model='currentPage', max-size='5', ng-change='pageChanged()')
