.box
    .box-header
        h3.box-title Liste des catégorie
        .box-tools
            .col-xs-4.pull-right
                .input-group
                    select(ng-model='numItems')
                        option(value='10') 10
                        option(value='25', selected='selected') 25
                        option(value='50') 50
                        option(value='100') 100
                    input.form-control.input-sm.pull-right(type='text', ng-model='search', placeHolder='Recherche')
                    .input-group-btn
                        button.btn.btn-sm.btn-default
                            i.fa.fa-search
    .box-body.table-responsible.no-padding
        table.table.table-hover
            thead
                tr
                    th(ng-repeat='col in cols', ng-click='predicate = col; reverse = !reverse') {{col}}
                        i.fa.fa-sort-desc.pull-right(ng-if='!reverse && predicate')
                        i.fa.fa-sort-asc.pull-right(ng-if='reverse')
                        i.fa.fa-sort.pull-right(ng-if='!reverse && !predicate')
                    th.text-right Actions
            tbody
                tr(ng-repeat='item in current | filter:search')
                    td {{item.name}}
                    td
                        button.btn.btn-sm.btn-danger.pull-right.btn-flat(ng-click='confirm(item)')
                            i.fa.fa-trash
                        button.btn.btn-sm.btn-primary.pull-right.btn-flat(ng-click='update(item)')
                            i.fa.fa-pencil
    .box-footer.clearfix
        .row
            .col-xs-6
                span.tab-info Affichage {{currentStart}} à {{currentEnd}} sur {{items.length}} éléments
            .col-xs-6
                pagination.pagination.pagination-sm.pull-right.no-margin(total-items='items.length', ng-model='currentPage', max-size='5', ng-change='pageChanged()')
