.box
    .box-header
        h3.box-title Liste des catégorie
    .box-body.table-responsible
        .row
            .col-xs-6
                select(ng-model='numItems', ng-change='reload()')
                    option(value='10') 10
                    option(value='25') 25
                    option(value='50') 50
                    option(value='100') 100
                |  éléments par page
            .col-xs-2
            .col-xs-4
                .input-group
                    input.form-control.input-sm.pull-right(type='text', ng-model='search', placeHolder='Recherche')
                    .input-group-btn
                        button.btn.btn-sm.btn-default
                            i.fa.fa-search
        table.table.table-hover
            thead
                tr
                    th Nom
                    th Email
                    th Adresse
                    th Téléphone
                    th.text-right Actions
            tbody
                tr(ng-repeat='item in current')
                    td {{item.name}}
                    td {{item.email}}
                    td {{item.address}}
                    td {{item.phone}}
                    td
                        .btn-group.pull-right
                            button.btn.btn-sm.btn-success.btn-flat(ng-click='logAs(item)')
                                i.fa.fa-user
                            button.btn.btn-sm.btn-primary.btn-flat(ng-click='update(item)')
                                i.fa.fa-pencil
                            button.btn.btn-sm.btn-danger.btn-flat(ng-click='delete(item)')
                                i.fa.fa-trash
    .box-footer.clearfix
        .row
            .col-xs-6
                span.tab-info Affichage {{currentStart + 1}} à {{currentEnd}} sur {{items.length}} éléments
            .col-xs-6
                pagination.pagination.pagination-sm.pull-right.no-margin(total-items='length', ng-model='currentPage', items-per-page='numItems', max-size='5', boundary-links='true', ng-change='reload(items)')
