div(ng-include='"components/navbar/navbar.html"')

.row.margin-top
    .columns.small-12.medium-6.large-6
        h2
            i.fa.fa-angle-left.pointer(ui-sref='main()')
            |  Mes favoris
    .columns.small-12.medium-6.large-6
        h5.middle-like Actuellement 
            strong.number {{likes && likes.length || 0}}
            |  offres exclusives dans vos favoris

ul.small-block-grid-1.medium-block-grid-2.large-block-grid-2.ads    
    li(ng-repeat='like in likes')
        img.mini-icon.right.pointer(ng-src='assets/images/print.png', ng-click='print(like.ad)')
        img.mini-icon.right.pointer(ng-src='assets/images/trash.png', ng-click='delete(like)')
        br
        span.pointer.grey(ui-sref='show({ad: like.ad._id, pos: like.pos._id})')
            .columns.small-12.medium-12.large-5
                img(ng-if='like.ad.image', ng-src='uploads/{{like.ad.image}}')
                img(ng-if='!like.ad.image', ng-src='http://placehold.it/200x200')

            .columns.small-12.medium-12.large-7
                p Du {{like.ad.start | date:'d/mm'}} au {{like.ad.end | date:'dd/mm/yyyy'}}
                    span.right {{like.ad.num}}
                h3 {{pos.name}}
                h2 -{{like.ad.value}}{{like.ad.valueType === 'euro' ? '€' : '%'}}
                p {{like.ad.info}}
