section.sidebar
    ul.sidebar-menu
        li(ui-sref-active='active')
            a(ui-sref='admin')
                i.fa.fa-dashboard
                span Dashboard
        li(ui-sref-active='active')
            a(ui-sref='userAdmin')
                i.fa.fa-users
                span Utilisateurs
        li(ui-sref-active='active')
            a(ui-sref='adAdmin')
                i.fa.fa-map-marker
                span Annonces
        li(ui-sref-active='active')
            a(ui-sref='categoryAdmin')
                i.fa.fa-paperclip
                span Categories
