div(ng-include='"components/navbar/navbar.html"')
    
.row
    .columns.small-12.medium-4.large-4
        div(ng-include='"components/sidebar/blog.html"')
    .columns.small-12.medium-8.large-8
        .row(ng-repeat='post in posts')
            h4 {{post.title}}
                    
            div(ng-bind-html='post.content')
                        
