div(ng-include='"components/navbar/admin.html"')
    
.row
    .columns.large-10
        .page-name
            h3 Blog
            
.row
    .columns.large-2.medium-6.small-12
        a.button.tiny.radius.success(ui-sref='postAdmin()')
            i.fa.fa-plus
            |  Ajouter
    .columns.large-3
        input(type='text', ng-model='search', placeHolder='Entrez votre recherche')
                    
.row
    .columns.large-12
        table.responsive
            thead
                tr
                    th Titre
                    th État
                    th.right Actions
                    tbody
                tr(ng-repeat='post in posts | filter:search')
                    td {{post.title}}
                    td {{post.state | translate}}
                    td.right
                        button.button.tiny.secondary.fa.fa-search(ui-sref='postPreview({id: post._id})')
                        button.button.tiny.fa.fa-pencil(ui-sref='postAdmin({id: post._id})')
                        button.button.tiny.alert.fa.fa-trash(ng-click='confirm(post)')

        
script(type='text/ng-template', id='confirm.html')
    h2 Confirmation
    a.close-reveal-modal(ng-click='$dismiss()') &#215;
    p Êtes vous certain de vouloir supprimer
        strong  {{post.title}} ?
    button.button.alert.right(ng-click='$close()') Supprimer
    button.button.secondary(ng-click='$dismiss()') Annuler
                                                
