div(ng-include='"components/navbar/admin.html"')

.row
    .columns.large-10
        .page-name
            h3 Utilisateurs

.custom-panel-body
    .row
        .columns.large-2.medium-6.small-12
            button.button.tiny.radius.success(ng-click='create()')
                i.fa.fa-plus
                |  Ajouter
        .columns.large-2
            input(type='text', ng-model='search', placeHolder='Entrez votre recherche')

    .row
        .columns.large-12
            table.custom-table.responsive
                thead
                    tr
                        th Adresse email
                        th Numéro
                        th Role
                tbody
                    tr(ng-repeat='user in users | filter:search')
                        td {{user.email}}
                        td {{user.phone}}
                        td {{user.role}}

script(type='text/ng-template' id='mod.html')
    form(name='form', novalidate='')
        label Adresse Email
        input(type='email', ng-model='user.email', required='')
        label Mot de passe
        input(type='password', ng-model='user.password', required='')
        button.black.expand(href='' ng-click='login(form)') Se connecter
        a.close-reveal-modal(ng-click='$dismiss()') &#215;

script(type='text/ng-template', id='modal.html')
    h2 {{user._id && 'Modifier' || 'Ajouter'}} un utilisateur
    a.close-reveal-modal(ng-click='$dismiss()') &#215;
    form(name='form', novalidate='')
        .row
            label Role
            select(ng-model='user.role', ng-options='role._id as role.name for role in [{_id: "user", name: "Utilisateur"}, {_id: "advertiser", name: "Annonceur"}, {_id: "admin", name: "Administrateur"}]', required='')
        
        .row(ng-if='user.role === "user"')
            label Nom
            input(type='text', ng-model='user.name')

            label Numéro
            input(type='text', ng-model='user.phone')

            label Adresse email
            input(type='email', ng-model='user.email')
                
            label pass
            input(type='text', ng-model='user.pass', required='true')

            label Adresse
            #address
            .modal-map
                ui-gmap-google-map(center='map.center', zoom='map.zoom', events='events.map')
                    ui-gmap-search-box(template='"search-box.html"', parentdiv='"address"', events='events.from')
                    ui-gmap-marker(idKey='"address"', coords='user.from')
    br
    .row
        button.button.right(ng-click='$close()') {{ user._id && 'Modifier' || 'Ajouter'}}
        button.button.secondary(ng-click='$dismiss()') Annuler

script(type='text/ng-template', id='confirm.html')
    .modal-danger
        .modal-header
            button.close(type='button', ng-click='$dismiss()') &times;
            h4.modal-title Confirmation
        .modal-body
            p Êtes vous certain de vouloir supprimer
                strong  {{user.name}} ?
        .modal-footer
            button.btn.btn-danger(ng-click='$close()') Supprimer
            button.btn.btn-default(ng-click='$dismiss()') Annuler

script(type='text/ng-template', id='search-box.html')
    input(type='text', required='', placeHolder='Entrez votre recherche', ng-value='user.from.address')
