div(ng-include='"components/navbar/navbar.html"')

.wrapper.row-offcanvas.row-offcanvas-left
    aside.left-side.sidebar-offcanvas
        div(ng-include='"components/sidebar/sidebar.html"')
    aside.right-side
        section.content-header
            h1 Utilisateurs
                button.btn.btn-sm.btn-primary.pull-right(ng-click='create()')
                    i.fa.fa-plus
                    span  Ajouter
        section.content
            .row
                .col-xs-12
                    ng-table(model='users', type='user')


script(type='text/ng-template', id='modal.html')
    .modal-primary
        .modal-header
            button.close(type='button', ng-click='$dismiss()') &times;
            h4.modal-title Ajouter un nouvel utilisateur
        .modal-body
            form(name='form')
                .form-group
                    label Nom
                    input.form-control(type='text', ng-model='user.name', required='')
                .form-group
                    label Numéro
                    input.form-control(type='text', ng-model='user.phone')
                .form-group
                    label Adresse email
                    input.form-control(type='email', ng-model='user.email')
                .form-group
                    label Mot de passe
                    .input-group
                        input.form-control(type='text', ng-model='user.pass', required='')
                        span.input-group-btn
                            button.btn.btn-default(type='button', ng-click='refresh()')
                                i.fa.fa-refresh
                .form-group
                    label Déménage de l'adresse
                    #from
                .form-group
                    label Emménage à l'adresse
                    #to
                ui-gmap-google-map(center='map.center', zoom='map.zoom', events='events.map', refresh='true', style='z-index: -1000;')
                    ui-gmap-search-box(template='"search-box-from.html"', parentdiv='"from"', events='events.from')
                    ui-gmap-search-box(template='"search-box-to.html"', parentdiv='"to"', events='events.to')
                    ui-gmap-marker(idKey='"from"', coords='user.from')
                    ui-gmap-marker(idKey='"to"', coords='user.to')

        .modal-footer
            button.btn.btn-primary(ng-click='$close()') {{ user._id && 'Modifier' || 'Ajouter'}}
            button.btn.btn-default(ng-click='$dismiss()') Annuler

script(type='text/ng-template', id='confirm.html')
    .modal-danger
        .modal-header
            button.close(type='button', ng-click='$dismiss()') &times;
            h4.modal-title Confirmation
        .modal-body
            p Êtes vous certain de vouloir supprimer
                strong  {{user.name}} ?
        .modal-footer
            button.btn.btn-danger(ng-click='$close()') Supprimer
            button.btn.btn-default(ng-click='$dismiss()') Annuler

script(type='text/ng-template', id='search-box-from.html')
    input.form-control#from_input(type='text', required='', placeHolder='Entrez votre recherche', ng-value='user.from.address')

script(type='text/ng-template', id='search-box-to.html')
    input.form-control#to_input(type='text', required='', placeHolder='Entrez votre recherche', ng-value='user.to.address')
