div(ng-include='"components/navbar/admin.html"')

.row
    .columns.large-10
        .page-name
            h3 Utilisateurs

.row
    .columns.large-2.medium-6.small-12
        button.button.tiny.radius.success(ng-click='create()')
            i.fa.fa-plus
            |  Ajouter
    .columns.large-3
        input(type='text', ng-model='search', placeHolder='Entrez votre recherche')

.row
    .columns.large-12
        table.responsive
            thead
                tr
                    th Nom
                    th Adresse email
                    th Numéro
                    th Role
                    th.right Actions
            tbody
                tr(ng-repeat='user in users | filter:search')
                    td {{user.name}}
                    td {{user.email}}
                    td {{user.phone}}
                    td {{user.role}}
                    td.right
                        button.button.tiny.success.fa.fa-user(ng-click='impersonate(user)')
                        button.button.tiny.fa.fa-pencil(ng-click='update(user)')
                        button.button.tiny.alert.fa.fa-trash(ng-click='confirm(user)')

script(type='text/ng-template', id='modal.html')
    h2 {{user._id && 'Modifier' || 'Ajouter'}} un utilisateur
    a.close-reveal-modal(ng-click='$dismiss()') &#215;
    form(name='form', novalidate='')
        .row
            label Role
            select(ng-model='user.role', ng-options='role._id as role.name for role in [{_id: "user", name: "Utilisateur"}, {_id: "advertiser", name: "Annonceur"}, {_id: "admin", name: "Administrateur"}]', required='')
        
        .row(ng-if='user.role === "user"')
            label Nom
            input(type='text', ng-model='user.name')

            label Numéro
            input(type='text', ng-model='user.phone')

            label Adresse email
            input(type='email', ng-model='user.email')
                
            label pass
            input(type='text', ng-model='user.pass', required='')

            label Adresse
            #address
            .modal-map
                ui-gmap-google-map(center='map.center', zoom='map.zoom', events='events.map')
                    ui-gmap-search-box(template='"search-box.html"', parentdiv='"address"', events='events.from')
                    ui-gmap-marker(idKey='"address"', coords='user.from')

        .row(ng-if='user.role === "admin"')
            label Nom
            input(type='text', ng-model='user.name')

            label Adresse email
            input(type='email', ng-model='user.email', required='')

            label Numéro
            input(type='text', ng-model='user.phone')
        
        .row(ng-if='user.role === "advertiser"')
            label Nom
            input(type='text', ng-model='user.name')
                
            label Adresse email
            input(type='email', ng-model='user.email', required='')
                
            label Numéro
            input(type='text', ng-model='user.phone')

    br
    .row
        button.button.right(ng-click='$close()') {{ user._id && 'Modifier' || 'Ajouter'}}
        button.button.secondary(ng-click='$dismiss()') Annuler

script(type='text/ng-template', id='confirm.html')
    h2 Confirmation
    a.close-reveal-modal(ng-click='$dismiss()') &#215;
    p Êtes vous certain de vouloir supprimer
        strong  {{user.name}} ?
    button.button.alert.right(ng-click='$close()') Supprimer
    button.button.secondary(ng-click='$dismiss()') Annuler

script(type='text/ng-template', id='search-box.html')
    input(type='text', required='', placeHolder='Entrez votre recherche', ng-value='user.from.address')
