div(ng-include='"components/navbar/navbar.html"')

.container
    .row
        .col-md-10
            .input-group
                input.form-control(type='text', ng-model='search')
                span.input-group-addon
                    span.glyphicon.glyphicon-search
        .col-md-2
            span.btn.btn-primary.pull-right(ng-click='create()') Ajouter
    br
    .row
        .col-md-12
            .panel.panel-default
                .panel-heading Utilisateurs
                table.table
                    tr
                        th Nom
                        th Email
                        th Téléphone
                    tr(ng-repeat='user in users | filter:search')
                        td {{user.name}}
                        td {{user.email}}
                        td {{user.phone}}
                        td
                            button.btn.btn-sm.btn-danger.glyphicon.glyphicon-trash.pull-right(ng-click='confirm(user)')
                            button.btn.btn-sm.btn-primary.glyphicon.glyphicon-pencil.pull-right(ng-click='update(user)')

script(type='text/ng-template', id='modal.html')
    .modal-primary
        .modal-header
            button.close(type='button', ng-click='$dismiss()') &times;
            h4.modal-title Ajouter un nouvel utilisateur
        .modal-body
            form(name='form')
                .form-group
                    label Nom
                    input.form-control(type='text', ng-model='user.name')
                .form-group
                    label Numéro
                    input.form-control(type='text', ng-model='user.phone')
                .form-group
                    label Adresse email
                    input.form-control(type='email', ng-model='user.email')
                .form-group
                    label Adresse
                    geo-search(model='user', event='geoSearch()')
                    br
                    leaflet(defaults='map.defaults', center='map.center', height='200px', width='555px')

        .modal-footer
            button.btn.btn-primary(ng-click='$close()') {{ user._id && 'Modifier' || 'Ajouter'}}
            button.btn.btn-default(ng-click='$dismiss()') Annuler

script(type='text/ng-template', id='confirm.html')
    .modal-danger
        .modal-header
            button.close(type='button', ng-click='$dismiss()') &times;
            h4.modal-title Confirmation
        .modal-body
            p Êtes vous certain de vouloir supprimer
                strong  {{user.name}} ?
        .modal-footer
            button.btn.btn-danger(ng-click='$close()') Supprimer
            button.btn.btn-default(ng-click='$dismiss()') Annuler
