div(ng-include='"components/navbar/navbar.html"')

.container
    .row
        .col-md-10
            .input-group
                input.form-control(type='text', ng-model='search')
                span.input-group-addon
                    span.glyphicon.glyphicon-search
        .col-md-2
            span.btn.btn-primary.pull-right(ng-click='create()') Ajouter
    br
    .row
        .col-md-12
            .panel.panel-default
                .panel-heading Categories
                table.table
                    tr(ng-repeat='category in categories | filter:search')
                        td {{category.name}}
                            span.btn.btn-sm.btn-danger.glyphicon.glyphicon-trash.pull-right(ng-click='confirm(category.name)')
