div(ng-include='"components/navbar/navbar.html"')

.container
    .row
        .col-md-10
            .input-group
                input.form-control(type='text', ng-model='search')
                span.input-group-addon
                    span.glyphicon.glyphicon-search
        .col-md-2
            span.btn.btn-primary.pull-right(ng-click='create()') Ajouter
    br
    .row
        .col-md-12
            .panel.panel-default
                .panel-heading Categories
                table.table
                    tr(ng-repeat='category in categories | filter:search')
                        td {{category.name}}
                            span.btn.btn-sm.btn-danger.glyphicon.glyphicon-trash.pull-right(ng-click='confirm(category)')
                            span.btn.btn-sm.btn-primary.glyphicon.glyphicon-pencil.pull-right(ng-click='update(category)')

script(type='text/ng-template', id='modal.html')
    .modal-header
        button.close(type='button', ng-click='$dismiss()') &times;
        h4.modal-title Ajouter une nouvelle categorie
    .modal-body
        form.form
            .input-form
                label Nom
                input.form-control(type='text', ng-model='category.name')
    .modal-footer
        button.btn.btn-primary(ng-click='$close()') Ajouter
        button.btn.btn-default(ng-click='$dismiss()') Annuler

script(type='text/ng-template', id='confirm.html')
    .modal-danger
        .modal-header
            button.close(type='button', ng-click='$dismiss()') &times;
            h4.modal-title Confirmation
        .modal-body
            p Êtes vous certain de vouloir supprimer
                strong  {{category.name}} ?
        .modal-footer
            button.btn.btn-danger(ng-click='$close()') Supprimer
            button.btn.btn-default(ng-click='$dismiss()') Annuler
